---
layout: page
title: blog
permalink: /blog/
key: 4
---

{% include title.html %}
<br>
<div id="gallery" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 250 "gutter": 1}'>
  {% assign sorted_posts = site.blog | sort: 'date' | reverse %}
  {% for post in sorted_posts %}
    <div class="grid-item">
      <a href="{{ site.baseurl }}{{ post.url }}">
      {% if post.image %}
        <img class="post-img" src="/images/{{ post.image }}">
        <h4>{{ post.title }}</h4>
      {% else %}
        <div class="no-image"><span>{{ post.title }}</span></div>
      {% endif %}
      </a>
    </div>
  {% endfor %}
</div>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
