---
layout: page
title: blog
permalink: /blog/
key: 4
---

{% include title.html %}

<div class="flex-images">
  {% for post in site.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}">
    {% if post.image %}
      <div class="thumb" data-w="{{ post.img-width }}" data-h="175"><img class="post-img" src="{{ post.image }}"></div>
    {% else %}
      <div class="thumbnail blankbox"></div>
    {% endif %}
  {% endfor %}
  </a>
</div>
<script>
    $('.flex-images').flexImages({rowHeight: 140});
</script>
