_site
.sass-cache
.DS_store
node_modules/*
jspm_packages/*
gulpconfig.json
config.js
images/AI/*
images/orig/*
images/res/*
images/pre-optimize/*
images/favicon.ico
TODO.md

#Non-minified javascript
js/index.js
js/jekyll-search.js
js/main.js
js/scroll-top.js
js/util.js
Gemfile.lock
template.md
