@import 'bourbon/bourbon';

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/** Variables **********************************************/
$base-font-family:              Helvetica, sans-serif;
$base-line-height:              1.5em;
$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         40px;
$nav-height:                  3.25em;

/* portfolio tinkering */
$img_spacing: 5px;
$img_height: 275px;
$caption_font_size: 12px;
$caption_color: #aaa;

/* COLORS  */
$red:  #ff3636;
$orange: #f29105;
$lime_green: #b7d12a;
$green: #11d68b;
$blue: #2698ba;
$purple: #b509ac;


$grey-color-dark:  #333;   /* footer */
$grey-color-light: #ddd;  /* navigation bar border */
$text-color:       #666;
$caption_color:    #aaa;
/* Set theme color *************************/
$theme-color:   $red;


/************************************************************/

/**
 * Basic styling
 */
body {
    background-color: $background-color;
    color: $text-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 100;
    line-height: $base-line-height;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    @include calc('margin-bottom', $vertical-spacing-unit / 2)
}

.alignright {
    float: right;
}

a {
    text-decoration: none;
}

hr{
    /* Inset, by Dan Eden */
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    display: none;
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $horizontal-spacing-unit;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}


/**
 * Links
 */
// a {
//     color: $text-color;
//     text-decoration: none;
    /*
    &:visited {
        color: darken($brand-color, 15%);
    }
    */
//     &:hover {
//         color: $theme-color;
//         text-decoration: none;
//     }
// }

article a {
    color: $theme-color;
    font-weight: 100;

    &:hover {
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    @include calc('padding-left', $horizontal-spacing-unit / 2);
    color: $text-color;
    font-size: 18px;
    font-style: italic;
    border-left: 10px solid $grey-color-light;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    background-color: $grey-color-light;
    font-size: 15px;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    @include calc('max-width', 975px - ($horizontal-spacing-unit * 2));
    @include calc('padding-left', $horizontal-spacing-unit / 3);
    @include calc('padding-right', $horizontal-spacing-unit / 3);
    margin: 0 auto;
    @extend %clearfix;

    @include media-query($on-laptop) {
        @include calc('max-width', 800px - ($horizontal-spacing-unit));
        @include calc('padding-left', $spacing-unit / 2);
        @include calc('padding-right', $spacing-unit / 2);
    }
}


/**
 * Clearfix
 */
%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
